.navbar {
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    margin: 5%;
    margin-bottom: 1%;
}

.nav-buttons {
    display: inherit;
}

.nav-buttons p {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

@media screen and (max-width: 376px) {
    .logo {
        max-width: 100px;
    }
}