
colgroup {
    color: hsl(243, 87%, 12%);
    color: hsl(238, 22%, 44%);
    color: hsl(240, 75%, 98%);
    color: hsl(0, 0%, 75%);
}

html, body {
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", "Roboto", sans-serif;
}

h1, button, input {
    font-family: "Raleway", "Open Sans", "Roboto", sans-serif;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }