html, body {
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", "Roboto", sans-serif;
}

h1, button, input {
    font-family: "Raleway", "Open Sans", "Roboto", sans-serif;
}

h1 {
    font-size: 2.2em;
}